[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	email = sava.slijepcevic@cloudnc.com
	name = Sava Slijepčević
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    di = diff
    ca = commit -a
    tree = log --oneline --decorate --graph
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[pager]
	branch = false
